<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <div class="page-header project-index">
                    <h1>{{ project.name }}<br /><small>{{ project.description }}</small></h1>
                    <p>{{ environment }} build version {{ project.version }}{{#compare debug "true"}} (debug mode){{/compare}} | jQuery version {{ project.jqversion }} | Bootstrap version {{ project.bsversion }}</p>
                </div>

                <div class="list-group">
                    <a class="list-group-item" href="/styleguide">
                        <h3 class="list-group-item-heading">Styleguide</h3>
                        <p class="list-group-item-text">View all available objects and components</p></a>
                    <a class="list-group-item" href="/icon-manager">
                        <h3 class="list-group-item-heading">Icon Manager</h3>
                        <p class="list-group-item-text">Manage which icons will be included in the project</p>
                    </a>
                    <a class="list-group-item" href="/docs">
                        <h3 class="list-group-item-heading">Documentation</h3>
                        <p class="list-group-item-text">Technical project documentation</p>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
