{{!< master}}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">

                <div class="page-header">
                    <h1>{{ project.name }} version {{ project.version }}<br><small>Project index</small></h1>
                    <h2>{{ project.description }}</h2>
                    <p>jQuery version {{ project.jqversion }} | Bootstrap version {{ project.bsversion }}</p>
                </div>

            </div>
        </div>
    </div>
</div>
