$font-size-base:            0.875rem; // 14px;
$line-height-base:          1.428571429;

// grid
$grid-columns:              12;
$grid-gutter-width:         20px;

// container widths
$container-tablet:          (720px + $grid-gutter-width);
$container-sm:              $container-tablet;

$container-desktop:         (940px + $grid-gutter-width);
$container-md:              $container-desktop;

$container-large-desktop:   (1140px + $grid-gutter-width);
$container-lg:              $container-large-desktop;